{% extends 'base.html' %}
{% load i18n admin_static %}

{% block estilos_personalizados %}
{{ block.super }}
	<link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "css/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" id="camera-css" href="{% static "css/camera.css" %}" type="text/css" media="all">
{% endblock estilos_personalizados %}

{% block content_slide %}
<div class="page_container">
	<!--slider-->
	<div id="main_slider">
		<div class="camera_wrap" id="camera_wrap_1">
			<div data-src="{{STATIC_URL}}img/slider/1.jpg"></div>
			<div data-src="{{STATIC_URL}}img/slider/2.jpg"></div>
			<div data-src="{{STATIC_URL}}img/slider/3.jpg"></div>
		</div>
		<!-- #camera_wrap_1 -->
		<div class="clear"></div>
	</div>
</div>
{% endblock content_slide %}

{% block content_noticias %}

<div class="page_container">
	<div class="wrap block">
		<div class="container">
			<div class="row news_block">
				<div class="span12">
					<center><h2 class="title">Últimas Notícias</h2></center>
					<ul id="newscarousel" class="jcarousel-skin-tango">
						<li>
							<div class="news_date">12 maio<span>2013</span></div>
							<div class="news_t"><a href="#">Secretaria de Planejamento inaugura Orçamento Participativo!</a></div>
							<div class="news_info">Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor etoq vestibulum. Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit. Nullam pulvinarteses lorem sed dui euismod eget. <a href="#">Read more...</a></div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="news_date">13 maio<span>2013</span></div>
							<div class="news_t"><a href="#">Plano Diretor Sul sugere construção de mais escolas na região!</a></div>
							<div class="news_info">Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor etoq vestibulum. Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit. Nullam pulvinarteses lorem sed dui euismod eget. <a href="#">Read more...</a></div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="news_date">14 maio<span>2013</span></div>
							<div class="news_t"><a href="#">Plano Diretor Sul sugere construção de mais escolas na região!</a></div>
							<div class="news_info">Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor etoq vestibulum. Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit. Nullam pulvinarteses lorem sed dui euismod eget. <a href="#">Read more...</a></div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="news_date">15 maio<span>2013</span></div>
							<div class="news_t"><a href="#">Plano Diretor Sul sugere construção de mais escolas na região!</a></div>
							<div class="news_info">Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor etoq vestibulum. Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit. Nullam pulvinarteses lorem sed dui euismod eget. <a href="#">Read more...</a></div>
							<div class="clear"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content_noticias %}
{% block javascript_personalizado %}
{{ block.super }}
	<!--<script type="text/javascript" src="{% static "js/jquery.maskedinput.min.js" %}"></script>-->
	<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
	<!--<script type="text/javascript" src="{% static "js/backfix.min.js" %}"></script>-->
	<!--<script type="text/javascript" src="{% static "js/interface.js" %}"></script>-->
	<!--<script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}"></script>-->
	<!--<script type="text/javascript" src="{% static "js/jquery.mobile.customized.min.js" %}"></script>-->
	<script type="text/javascript" src="{% static "js/camera.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.prettyPhoto.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.jcarousel.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.tweet.js" %}"></script>
	<!--<script type="text/javascript" src="{% static "js/myscript.js" %}"></script>-->
	<script type="text/javascript">
		$(document).ready(function() {
			if(window.location.pathname == "/"){
				$('#camera_wrap_1').camera();
				$('#mycarousel, #mycarousel2, #newscarousel').jcarousel();
			}
		});
	</script>
{% endblock javascript_personalizado %}
