{% extends 'base.html' %} {% block content_formulario %}

<div class="page_container">
	<div class="breadcrumb">
		<div class="wrap">
			<div class="container">
				Home<span>/</span>O PPA
			</div>
		</div>
	</div>

	<div class="container">

		<h2 class="title">
			<span>O PPA</span>
		</h2>
		<div class="hero-unit">
			<p>
				O plano Plurianual (PPA) é o planejamento do governo para quatro anos.
				Nele estão definidas as diretrizes, objetivos e metas que serão detalhadas posteriormente nas Leis Orçamentárias Anuais.
				Com este documento, o governo estabelece suas prioridades e sabe como gastar melhor os recursos públicos.
				Constitucionalmente o PPA é um instrumento que estabelece, de forma	regionalizada, as diretrizes, objetivos e metas da administração
				pública - federal, estadual e municipal, considerando as despesas de capital e outras delas decorrentes, e as relativas aos
				programas de duração continuada.
			</p>
		</div>
		
		<h2 class="title">
			<span>PPA Participativo</span>
		</h2>
		<div class="hero-unit">
			<p>
				O Plano Plurianual Participativo (PPA-P) é uma estratégia utilizada pelo governo para apresentar à sociedade suas diretrizes estratégicas e ouvir
				o que a sociedade tem a dizer, quais são as suas necessidades, seus problemas, suas prioridades e suas sugestões.
				O PPA-P  subsidiará a elaboração do plano Plurianual (PPA).
			</p>
		</div>

	</div>
	<!--//page_container-->

	{% endblock content_formulario %}