{% extends 'base.html' %}
{% load i18n admin_static %}
{% block content_formulario %}
    <div class="page_container">
        <div class="breadcrumb">
            <div class="wrap">
                <div class="container">
                    Home<span>/</span>Participe
                </div>
            </div>
        </div>
        
        
        <div class="wrap">
            <div class="container">
                <center>Votação finalizada!<br>
                Muito Obrigado!</center>
            </div>
        </div>
    </div>
{% endblock content_formulario %}